body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: repeat(4,1fr);
    height: 100vh;
}

.sidebar {
    background-color: rgba(49, 133, 49, 0.938);
    color: white;
    grid-column: 1/2;
    grid-row: 1/5;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    font-size: 24px;
    padding-left: 15px;
}

ul {
    list-style: none;
}

.nav {
    display: grid;
    grid-template-rows: repeat(6,50px);
}

.branding {
    display: grid;
    grid-template-rows: repeat(3,50px);
}

.header {
    /* 2 rows and maybe 3 columns */
    background-color: white;
    grid-column: 2/5;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1f 1fr;
    padding: 20px;
    gap: 15px;
}

input {
    height: 30px;
    border-radius: 15px;
    border-style: solid;
    width: 700px;
}

.user-info {
    grid-column: 1/2;
    grid-row: 2/3;
}

.media-post {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3,1fr);
    gap: 35px;
    align-items: center;
}

.media-post > button {
    background-color: rgba(49, 133, 49, 0.938);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    height: 50px;
}

.main-content {
    /* make a skinny row for section headers */
    background-color: rgb(228, 165, 176);
    grid-column: 2/5;
    grid-row: 2/5;
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 15px;
    padding: 30px;
}

.projects {
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 30px;
    row-gap: 15px;
}

.projects-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 25px;
    column-gap: 15px;
}

.projects-content > div {
    background-color: aliceblue;
    border-radius: 15px;
    width: 395px;
}

.projects > h2 {
    grid-row: 1/2;
    align-self: center;

}

.announcements {
    grid-column: 2/3;
    margin-bottom: 20px;
    display: grid;
    grid-template-rows: 30px;
    row-gap: 15px;
}

.announcements > h2 {
    margin-bottom: 5px;
    margin-top: 0px;
    align-self: center;
}
 .announcements-content{
    background-color: aliceblue;
 }

.trending {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 30px;
    row-gap: 15px;
}

.trend-content {
    background-color: aliceblue;
}

.trending > h2 {
    margin-bottom: 5px;
    margin-top: 0px;
    align-self: center;
}


