body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

li {
    display: flex;
    align-items: center;
    gap: 25px;
}

.sidebar > h2 {
    display: grid;
    grid-auto-flow: column;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: repeat(4,1fr);
    height: 100vh;
}

.sidebar {
    background-color: rgba(69, 160, 69, 0.938);
    color: white;
    grid-column: 1/2;
    grid-row: 1/5;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    font-size: 28px;
    padding: 10px 30px;;
}

ul {
    list-style: none;
}

.nav {
    display: grid;
    grid-template-rows: repeat(6,50px);
}

.branding {
    display: grid;
    grid-template-rows: repeat(3,50px);
}

.header {
    /* 2 rows and maybe 3 columns */
    background-color: white;
    grid-column: 2/5;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px 40px;
    gap: 15px;
    box-shadow: inset 2px -3px 5px #b1b0b0;
}

input {
    height: 30px;
    border-radius: 15px;
    border-style: none;
    width: 700px;
    align-self: center;
    background-color: #80808042;
}

.search-bar {
    display: grid;
    grid-template-columns: 60px;
    grid-auto-flow: column;
}

.user-info {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 40px 50px;
    grid-template-columns: 60px auto;
    column-gap: 15px;
}

.user-info > p, .user-info > h2 {
    grid-column: 2/3;
}

.user-name {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    max-width: 350px;
    grid-template-columns: 1fr 1fr 2fr
}

.media-post {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3,1fr);
    gap: 35px;
    align-items: center;
}

.media-post > button {
    background-color: rgba(69, 160, 69, 0.938);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    height: 50px;
}

.main-content {
    /* make a skinny row for section headers */
    background-color: rgb(159 191 229 / 66%);
    grid-column: 2/5;
    grid-row: 2/5;
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 15px;
    padding: 10px 85px;
    overflow: auto;
}

.projects {
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 30px;
    row-gap: 15px;
}

.projects-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 25px;
    column-gap: 15px;
}

.projects-content > div {
    background-color: aliceblue;
    border-radius: 15px;
    max-width: 355px;
    padding: 0px 15px;
    align-content: center;
    box-shadow: 5px 3px 10px 0px #b1b0b0;
}

.interact {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.interact > img {
    max-width: 25px;
    max-height: 25px;
}

.projects > h2 {
    grid-row: 1/2;
    align-self: center;

}

.announcements {
    grid-column: 2/3;
    margin-bottom: 20px;
    display: grid;
    grid-template-rows: 30px;
    row-gap: 15px;
}

.announcements > h2 {
    margin-bottom: 5px;
    margin-top: 0px;
    align-self: center;
}

 .announcements-content{
    background-color: aliceblue;
    border-radius: 15px;
    padding: 0px 20px;
    align-content: center;
    box-shadow: 5px 3px 10px 0px #b1b0b0;
 }

 .announcements-content > div {
    border-bottom: 1px solid  gray;
    padding-top: 15px;
 }

 .announcements-content > div > p {
    margin-top: 2px;
 }

 .announcements-content > div:nth-child(3) {
    border: none;
 }

.trending {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 30px;
    row-gap: 15px;
}

.trend-content {
    background-color: aliceblue;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 3px 10px 0px #b1b0b0;
    display: grid;
    row-gap: 15px;
}

.trend-content > div {
    margin-top: 0px;
    grid-column: 2/3;
    display: grid;
    grid-auto-flow: column;
}

.trend-content > img {
    max-height: 60px;
    max-width: 60px;
    grid-column: 1/2;
    justify-self: center;
}

.trend-content > div > p {
    margin-top: 0px;
}


.trending > h2 {
    margin-bottom: 5px;
    margin-top: 0px;
    align-self: center;
}


