body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: repeat(4,1fr);
    height: 100vh;
}

.sidebar {
    background-color: rgba(49, 133, 49, 0.938);
    color: white;
    grid-column: 1/2;
    grid-row: 1/5;
}

.header {
    /* will include some flex */
    background-color: white;
    grid-column: 2/5;
    grid-row: 1/2;
}

.main-content {
    /* will need grid */
    background-color: rgb(235, 151, 165);
    grid-column: 2/5;
    grid-row: 2/5;
}